# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
clk_precision
tsc_precision
mem_measurements
cache_info
l1_lat_rd
l2_lat_rd
mem_lat_rd
mb_lat_rd

# Debug files
*.dSYM/
*.su

# Ctags/Cscope
tags
cscope.in.out
cscope.files
cscope.out
cscope.po.out
